*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --pale-white:#e0e0e0;
    --white:#f5f5f5;
    --dark-grey:#212121;
    --grey:#424242;
    --dark-bluegrey: #263268;
    --blue-grey:#37474f;
    --pink:#f48fb1;
    --purple:#b39dd8;
    --blue:#90caf9;
    --green:#69f0ae;

    --border-radius:2rem;
    --card-border-radius: 1rem;
    --btn-padding :0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding: 1rem;


    --sticky-top-left: 5.4rem;
    --sticky-top-right:-18rem;

}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--dark-grey);
    background-color: var(--pale-white);
}
.profile-picture{
    width: 2.8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: 100%;
    display: block;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--blue-grey);
    color: white;
}
.text-muted{
    color: var(--grey);
}
.text-bold{
    font-weight: 600;
}
.container{
    width: 85%;
    margin: 0 auto;
}






/* ----------------navbar------------------- */

nav{
    width: 100%;
    background-color: var(--white);
    padding: 0.7rem 0.7rem;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar{
    padding: var(--search-padding);
    border-radius: var(--border-radius);
    background-color: var(--pale-white);
}
nav .search-bar input[type="search"]{
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--dark-grey);
    background-color: transparent;
    width: 30vw;
}
nav .create{
    display: flex;
    gap: 2rem;
    align-items: center;
}





/* -----------main---------- */
main{
    position: relative;
    top:5.5rem;
}
main .container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 2rem;
    position: relative;
}

/* --------left----------- */

main .container .left{
    position: sticky;
    top: var(--sticky-top-left);
    height: max-content;
   
   
} 
main .container .left .profile{
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    column-gap: 1rem;
    width: 100%;
}

/* ----------sidebar------------ */
.left .sidebar{
    border-radius: var(--border-radius);
    background-color: var(--white);
    margin-top: 1rem;
}
.left .sidebar .menu-items{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    padding: var(--btn-padding);
    transition: all 300ms ease;
    position: relative;
   
}
.left .sidebar .menu-items:hover{
    background-color: var(--pale-white);
}
.left .sidebar i{
    color: var(--grey);
    font-size: 1.5rem;
    position: relative;
    margin-left: 2rem;
}
.left .sidebar i .notification-count{
    background-color:rgb(249, 64, 64);
    color: white;
    border-radius: 0.8rem;
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.1rem;
    left: -0.01px;
    width: fit-content;
}
.left .sidebar h3{
    margin-left: 1.4rem;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.left .sidebar .active{
    background-color: var(--pale-white);
}
.left .sidebar .active i, .left .sidebar .active h3{
    color: var(--blue-grey);
}
.left .sidebar .active::before{
    content: '';
    display: block;
    width: 0.5rem;
    height: 100%;
    background-color: var(--blue-grey);
    position: absolute;
    left: 0;
}
.left .sidebar .menu-items:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .sidebar .menu-items:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .btn{
    text-align: center;
    margin-top: 1.3rem;
    width: 100%;
    padding: 1rem 0;
}
.left .notification-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    z-index: 8;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    display: none;
}
.left .notification-popup::before{
    content: '';
    width: 1.3rem;
    height: 1.2rem;
    background-color: var(--white);
    display: block;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}
.left .notification-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.left .notification-popup small{
    display: block;
}

/* -----------middle--------------- */
.middle .stories{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.7rem;
}
.story .profile-picture{
    height: 2.5rem;
    width: 2.5rem;
    align-items: start;
    border: 3px solid var(--blue-grey);
  
}
.story .profile-picture  img{
    width: 100%;
    height: 100%;
}
.middle .stories .story{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 0.8rem;
}
.middle .stories .story::before{
    content: '';
    width: 100%;
    height: 5rem;
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
}
.middle .stories .story .name{
    z-index: 2;
}
.middle .stories .story:nth-child(1){
    background: url("image/pexels-belle-co-847393.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(2){
    background: url("image/pexels-cottonbro-studio-5103031.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(3){
    background: url("image/pexels-engin-akyurt-1498273.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(4){
    background: url("image/pexels-ethan-brooke-2128039.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(5){
    background: url("image/pexels-evgeny-tchebotarev-2187605.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(6){
    background: url("image/pexels-george-desipris-792381.jpg") no-repeat center center/cover;
}

.middle .create-post{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}
.create-post .profile-picture{
    width: 3rem;
    min-height: 2rem;
    max-height: 4rem;
}
.create-post .profile-picture img{
    width: 100%;
   display: block;
   height: 100%;
}
.middle .create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    margin-left: 1rem;
    padding-left: 0.5rem;
    background: transparent;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}
.middle .feeds .feed{
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    background-color: var(--white);
    line-height: 1.5;
    font-size: 0.85rem;
}
.user .profile-picture{
    width: 3rem;
    height: 3rem;

}
.user .profile-picture img{
    width: 100%;
    height: 100%;
}
.middle .feed .head{
    display: flex;
    justify-content: space-between;
}
.middle .feed .user{
    display: flex;
    gap: 1rem;
}
.middle .feed .photo{
    border-radius: var(--card-border-radius);
    margin: 1.2rem 0;
    overflow: hidden;
    
}

.middle .feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin: 0.6rem;
}
.middle .liked-by{
    display: flex;
}
.middle .liked-by span{
    width: 1.9rem;
    height: 1.9rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--pale-white);
    margin-left: -0.6rem;
    margin-top: -0.4rem;
}
.middle .liked-by span:first-child{
    margin: 0;
    margin-top: -0.4rem;
}
.middle .liked-by p{
    margin-left: 0.4rem;
    font-size: 0.9rem;
}


/* ----------right------------- */
main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}
.right .messages{
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom:1rem;
}
.right .messages .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.right .messages i{
    font-size: 1.4rem;
}
.right .messages .search-bar{
    display: flex;
    margin-bottom: 1rem;
}
.messages .search-bar input[type="search"]{
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--dark-grey);
    background-color: transparent;
}
.right .messages .category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.right .messages  .category h6{
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    border-bottom: 0.3rem solid var(--pale-white);
    margin-bottom: 0.5rem;
}
.right .messages .category .active{
    border-color: var(--blue-grey);
}
.right .messages .message{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;
}
.right .messages .message:last-child{
    margin: 0;
}
.message .profile-picture{
    width: 3rem;
    height: 3rem;
    position: relative;
    overflow: visible;
    
}
.message .profile-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.right .messages .message p{
    font-size: 0.9rem;
}
.right .message .profile-picture .active{
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    border: 2px solid var(--white);
    background-color: rgb(25, 215, 25);
    z-index: 1;
    bottom: 0;
    right: 0;
}
.right .messages  .message-requests{
    color: var(--blue-grey);
}
.right .friend-request h4{
    color: var(--grey);
    margin-bottom: 1rem 0;
}
.right .request {
    background-color: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
}
.right .request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.right .request .action{
    display: flex;
    gap: 1rem;
}



/* ------------customization-theme------------- */

.customize-theme{
    background-color: rgba(255, 255, 255 ,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    display: grid;
    place-items: center;
    z-index: 100;
    font-size: 1rem;
    display: none;
}
.customize-theme .card{
    background-color: white;
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow:  0 0 1rem var(--blue-grey);
}
.customize-theme .font-size{
    margin-top: 5rem;
    
}
.customize-theme .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    background-color: var(--pale-white);
}
.customize-theme .choose-size{
    height: 0.2rem;
    width: 100%;
    margin: 0 1rem;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
}
.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--grey);
    cursor: pointer;
}
.customize-theme .choose-size span.active{
    background-color:var(--blue);
}
/* -------------color--------------------- */
.customize-theme .color{
    margin-top: 2rem;
}
.customize-theme .choose-color{
    background-color: var(--pale-white);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customize-theme .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}
.customize-theme .choose-color span:nth-child(1){
    background-color: #37474f;
}
.customize-theme .choose-color span:nth-child(2){
    background-color: var(--pink);
}
.customize-theme .choose-color span:nth-child(3){
    background-color: var(--blue);
}
.customize-theme .choose-color span:nth-child(4){
    background-color: var(--purple);
}
.customize-theme .choose-color span:nth-child(5){
    background-color: var(--green);
}

.customize-theme .choose-color span.active{
    border: 5px solid var(--white);
}



/* ----------background------------ */
.customize-theme .background{
    margin-top: 2rem;
}
.customize-theme .choose-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.customize-theme .choose-bg > div{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    

}
.customize-theme .choose-bg > div.active{
    border: 3px solid black;
}
.customize-theme .choose-bg > div:nth-child(1){
    background-color: var(--pale-white);
}
.customize-theme .choose-bg > div:nth-child(2){
    background-color: var(--grey);
    color: white;
}
.customize-theme .choose-bg > div:nth-child(3){
    background-color: var(--dark-grey);
    color: white;
}
.customize-theme .choose-bg > div span{
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--green);
    border-radius: 50%;
    margin-right: 1rem;
}









/* -----------responsiveness-------------------- */
@media screen and (max-width:1200px){
    body{
        width: auto;
    }
    .container{
        width: 96%;
    }
    main .container{
        grid-template-columns: 5rem 2fr 1fr;
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }
    main .container .left .profile{
        display: none;
    }
    .sidebar h3{
        display: none;
    }
    .menu-items span{
        margin-left: -2rem;
    }
    .left .btn{
        display: none;
    }
}

@media screen and (max-width:992px){
    body{
        width: auto;
        height: auto;
    }
    nav .search-bar{
        display: none;
    }
    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }
    main .container .left{
        position: fixed;
        bottom: 0;
        right: 0;
        grid-column: 3/4;
    }
    main .container .middle{
        grid-column: 1/3;
    }
    main .container .right{
        display: none;
    }
    .left .notification-popup{
        position: absolute;
        left: -20rem;
        width: 20rem;
    }
    .left .notification-popup::before{
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }
}