*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --pale-white:#e0e0e0;
    --white:#f5f5f5;
    --dark-grey:#212121;
    --grey:#424242;
    --dark-bluegrey:#263268;
    --blue-grey:#37474f;
    --pink:#f48fb1;
    --purple:#b39dd8;
    --blue:#90caf9;

    --border-radius:2rem;
    --card-border-radius: 1rem;
    --btn-padding :0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding: 1rem;

}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--dark-grey);
    background-color: var(--pale-white);
}
.profile-picture{
    width: 2.8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: 100%;
    display: block;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--blue-grey);
    color: white;
}
.text-muted{
    color: var(--grey);
}
.text-bold{
    font-weight: 500;
}








/* ----------------navbar------------------- */
nav{
    width: 100%;
    background-color: var(--white);
    padding: 0.7rem 0.7rem;
    position: fixed;
    top: 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .search-bar{
    padding: var(--search-padding);
    border-radius: var(--border-radius);
    background-color: var(--pale-white);
}
nav .search-bar input[type="search"]{
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--dark-grey);
    background-color: transparent;
    width: 30vw;
}
nav .create{
    display: flex;
    gap: 2rem;
    align-items: center;
}