*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
:root{
    --pale-white:#e0e0e0;
    --white:#f5f5f5;
    --dark-grey:#212121;
    --grey:#424242;
    --dark-bluegrey:#263268;
    --blue-grey:#37474f;
    --pink:#f48fb1;
    --purple:#b39dd8;
    --blue:#90caf9;

    --border-radius:2rem;
    --card-border-radius: 1rem;
    --btn-padding :0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding: 1rem;


    --sticky-top-left: 5.4rem;
    --sticky-top-right:-18rem;

}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--dark-grey);
    background-color: var(--pale-white);
}
.profile-picture{
    width: 2.8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: 100%;
    display: block;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--blue-grey);
    color: white;
}
.text-muted{
    color: var(--grey);
}
.text-bold{
    font-weight: 500;
}
.container{
    width: 80%;
    margin: 0 auto;
}






/* ----------------navbar------------------- */

nav{
    width: 100%;
    background-color: var(--white);
    padding: 0.7rem 0.7rem;
    position: fixed;
    top: 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .search-bar{
    padding: var(--search-padding);
    border-radius: var(--border-radius);
    background-color: var(--pale-white);
}
nav .search-bar input[type="search"]{
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--dark-grey);
    background-color: transparent;
    width: 30vw;
}
nav .create{
    display: flex;
    gap: 2rem;
    align-items: center;
}





/* -----------main---------- */
main{
    position: relative;
    top:5.5rem;
}
main .container{
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}
main .container .left{
    position: sticky;
    top: var(--sticky-top-left);
    height: max-content;

}
main .container .left .profile{
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    column-gap: 1rem;
    width: 100%;
}

/* ----------sidebar------------ */
.left .sidebar{
    border-radius: var(--border-radius);
    background-color: var(--white);
    margin-top: 1rem;
}
.left .sidebar .menu-items{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    padding: var(--btn-padding);
    transition: all 300ms ease;
    position: relative;
}
.left .sidebar .menu-items:hover{
    background-color: var(--pale-white);
}
.left .sidebar i{
    color: var(--grey);
    font-size: 1.4rem;
    position: relative;
    margin-left: 2rem;
}
.left .sidebar i .notification-count{
    background-color:rgb(249, 64, 64);
    color: white;
    border-radius: 0.4rem;
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.1rem;
    width: fit-content;
}